<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body>
  <div id="app">
    <!-- 取数组中值, 可以实现, 但很 low -->
    <!-- <p>{{list[0]}}</p>
    <p>{{list[1]}}</p>
    <p>{{list[2]}}</p>
    <p>{{list[3]}}</p> -->

    <!-- 使用 v-for 获取数组中的元素 -->
    <p v-for="item in list">{{item}}</p>

    <!-- 使用 v-for  搞到下标 -->
    <p v-for="(item, i) in list">索引值:{{i}} ----元素内容:{{item}}</p>

  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        list: [1, 2, 3, 4, 5, 6]
      }
    })
  </script>

</body>

</html>
